
html {
  padding: 10px;
  background-color: black;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

.date {
  font-size: 6em;  
}

.time {
  font-size: 6em;
}

.invisible {
  visibility: hidden;
}

.info {
  margin-left: 2rem;
}

i {
  font-family: 'weathericons';
  height: 50px;
  width: 50px;
  display: block;
  color: white;
}
