.yamm {
  background-color: black;
  color: white;
  position: relative;
  text-transform: lowercase;
}

body {
  padding: 10px;
  background-color: black !important;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 4em !important;
}

.time {
  font-size: 7em;
}

.date {
  font-size: 2.5em;
  color: lightslategrey;
}

.invisible {
  visibility: hidden;
}

.info {
  font-size: 2em;
}

.jobs {
  margin-top: 20px;
  font-size: 1.2em;
}

.weather {
  margin-left: .5em;
  text-transform: uppercase;
  font-size: 2.5em;
}

i {
  margin-left: .5em;
  font-family: 'weathericons';
  font-size: 3em;
  font-style: normal;
}

.right {
  float: right;
  margin-top: 30px;
}

.reddit {
  margin-top: 200px;
}

.xkcd {
  font-size: 2.5em;
  margin-top: 100px;
  position: fixed;
  bottom: 0;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

.alt {
  font-size: .65em;
}

.comic {
  max-height: 700px;
}

.comic img {
  max-height: 100%;
  max-width: 100%;
}

.ng-enter {
    -webkit-transition: 1s;
    transition: 1s;
    opacity:0;
}
.ng-enter-active {
    opacity:1;
}
.ng-leave {
    -webkit-transition: 1s;
    transition: 1s;
}
.ng-leave-active {
    opacity:0;
}