<!DOCTYPE html>
<html ng-app="yamm">

<head>
  <meta charset="utf-8" />
  <title>yamm</title>
  <link rel="stylesheet" href="css/app.css" />
  <link rel="stylesheet" type="text/css" href="css/weather-icons.css" />
  <script src="https://code.angularjs.org/1.2.16/angular.js"></script>
  <script src="app.js"></script>
  <script src="controllers/controllers.js"></script>
  <script src="services/api.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/1.5.0/annyang.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>
</head>

<body>

  <div class="yamm container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div ng-controller="timeCtrl">
          <div ng-if="visible">
            <span class="time">{{currentTime | date: 'HH'}}</span>
            <span class="time" ng-class="{'invisible': hideColon}">:</span>
            <span class="time">{{currentTime | date: 'mm'}}</span>
          </div>
        </div>
      </div>

      <div class="col-sm-6 right">
        <div class="todos text-right" ng-controller="todoCtrl">
          <div ng-repeat="todo in todos">
            <div class="info">{{ todo }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div ng-controller="weatherCtrl">
          <div class="info">{{ currentTemperature }}&deg F</div>
        </div>

        <div ng-controller="travelCtrl">
          <div class="info">{{ travelTime }} to CLC</div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="jobs text-right" ng-controller="jobCtrl">
          <div>Job posts: {{ jobs.length }}</div>
          <div>Most recent: {{ jobs[0].location }}</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="text-center xkcd" ng-controller="xkcdCtrl">
        <div ng-repeat="comic in comics" ng-if="visible">
          <div ng-show="$first">
            <div>{{ comic.title }}</div>
            <div class="comic">
              <img ng-src="{{ comic.comic }}">
            </div>
            <div class="alt">{{ comic.alt }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>